<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    {% block content %}
      <form id="card-form" action="/card" method="post" onsubmit="onSubmitCardForm(event)">
        <input type="text" id="number1" class="number" placeholder="4자리" maxlength="4" required />
        -
        <input type="text" id="number2" class="number" placeholder="4자리" maxlength="4" required />
        -
        <input type="text" id="number3" class="number" placeholder="4자리" maxlength="4" required />
        -
        <input type="text" id="number4" class="number" placeholder="4자리" maxlength="4" required />
        <br />
        <input type="month" id="expirationDate" required />
        <br />
        <select id="company">
          <option value="신한">신한카드</option>
          <option value="우리">우리카드</option>
          <option value="국민">국민카드</option>
          <option value="하나">하나카드</option>
          <option value="롯데">롯데카드</option>
          <option value="농협">농협카드</option>
          <option value="삼성">삼성카드</option>
          <option value="비씨">비씨카드</option>
        </select>
        <br />
        <button type="submit">새 카드 등록</button>
      </form>

      <div id="cardInfo">
        {% for result in results %}
          <div class="card">
            <input type="radio" name="card">
            <span>{{result.number}}</span>
            |
            <span>{{result.expirationDate}}</span>
            |
            <span>{{result.company}}</span>
            |
            <button onclick="deleteCard()">삭제</button>
          </div>
        {% endfor %}
      </div>
      <button onclick="onClickCardBtn()">이 카드로 설정</button>
    {% endblock %}

    {% block script %}
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
        [...document.getElementsByClassName('number')].forEach((input) => {
          input.style.width = '50px';
        })

        // 카드 번호 유효성 검증을 위해 따로 함수로 분리
        function onSubmitCardForm(event) {
          event.preventDefault();

          const numberList = [...document.getElementsByClassName('number')].map((number) => number.value);
          const expirationDate = document.getElementById('expirationDate').value;
          const company = document.getElementById('company').value;

          const numberString = numberList.join("-");

          if (!numberString.match(/\d{4}-\d{4}-\d{4}-\d{4}/)) {
            alert('유효하지 않은 카드번호입니다.');
            return;
          }

          axios.post("/card", {
            number: numberString,
            expirationDate,
            company,
          })
            .then((result) => console.log(result.data))
            .catch((err) => console.error(err));

        }
        function onClickCardBtn() {
          const cardItems = document.getElementById('cardInfo').children;
          [...cardItems].forEach((item) => {
            if (item.firstElementChild.checked) {
              const number = item.children[1].textContent;
              const expirationDate = item.children[2].textContent;
              const company = item.children[3].textContent;
              opener.document.getElementById('number').value = number;

              opener.document.getElementById('expirationDate').value = expirationDate;

              opener.document.getElementById('company').value = company;

              window.close();
            }
          })

          // 선택하지 않았을 때
          alert("선택한 카드가 없습니다.");
        }

        function deleteCard() {
          const cardItems = document.getElementById('cardInfo').children;
          const checked = [...cardItems].find((item) => item.firstElementChild.checked);
          axios.delete('/card', {
            data: {
              cardNumber: checked.children[1].textContent,
            }
          })
            .catch((err) => console.error(err));
          location.reload();
        }

        if (new URL(location.href).searchParams.get("error")) {
          alert(new URL(location.href).searchParams.get("error"));
          history.back();
        }
      </script>
    {% endblock %}
  </body>
</html>