<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <h2 id="main">도서 구매 사이트</h2>
      <nav>
        <ul>
          {% if user and user.id %}
            <li><a href="/auth/logout">로그아웃</a></li>
            {% if user.grade == "ADMIN" %}
              <li><a href="/admin/user">유저관리</a></li>
              <li><a href="/admin/coupon">쿠폰관리</a></li>
              <li><a href="/admin/book">도서관리</a></li>
            {% else %}
              <li><a href="/cart">장바구니</a></li>
              <li><a href="/mypage">마이페이지</a></li>
            {% endif %}
          {% else %}
            <li><a href="/login">로그인</a></li>
            <li><a href="/signup">회원가입</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get("loginError")) {
          alert(new URL(location.href).searchParams.get("loginError"));
          history.back();
        }

        if (new URL(location.href).searchParams.get("error")) {
          alert(new URL(location.href).searchParams.get("error"));
          history.back();
        }
      };

      document.querySelector('#main').addEventListener('click', () => {
        location.href = "/";
      })
    </script>
    {% block script %}
    {% endblock %} 
  </body>
</html>
